# Server Port
PORT=8000

# Supabase Credentials
SUPABASE_URL="https://your-supabase-project-url.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="your-supabase-service-role-key"

# Gemini API Keys (Mendukung Multi-Key / Auto-Fallback)
# Pisahkan beberapa API Key menggunakan koma ( , ) jika ingin mengaktifkan fitur Anti-Limit
GEMINI_API_KEY="AIzaSy...KEY_UTAMA, AIzaSy...KEY_CADANGAN_1, AIzaSy...KEY_CADANGAN_2"

# Roboflow Credentials (Object Detection)
ROBOFLOW_API_KEY="your-roboflow-api-key"
